body {
    background-color: rgb(214, 241, 169);width: 100%; color:rgb(32, 0, 0)}

img{width: 80%;height:80%;border-style:double;border-color: rgb(9, 9, 59);border-width: 20px;}

h1 { font-size: 45px;color: rgb(5, 5, 65);text-align: center;}

#imagen_central {
    margin-left: 30%; margin-right: 20%;}

#formulario_formato{
    padding:10px;color:rgb(32, 0, 0);background-color:rgb(172, 235, 211);border-style:double;border-color: rgb(9, 9, 59);border-width: 20px;}

.resaltado{font-style: italic;color: rgb(5, 5, 65);font-weight: bold;}